<router-outlet></router-outlet>
<div class="row">
    <div class="col-sm-3">
        <div class="panel panel-success">
            <div class="panel-heading">Available to drag</div>
            <div class="panel-body">
                <div class="panel panel-default" dnd-draggable [dragEnabled]="true" [dragData]="transferData">
                    <div class="panel-body">
                        <div *ngFor="let imgs of transferData">Drag Me
                          <img src="{{imgs.images}}" alt="" width="50%">
                        </div>
                        <!-- <div>{{transferData | json}}</div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div dnd-droppable class="panel panel-info" (onDropSuccess)="transferDataSuccess($event)">
            <div class="panel-heading">Place to drop (Items:{{receivedData.length}})</div>
            <div class="panel-body">
                <div *ngFor="let data of receivedData">
                  <img src="../assets/monkey.jpg" width="40%" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
